<div class="mt-6">
  <label class="block text-sm leading-5 font-medium text-gray-700"><%= f.object.title %></label>
  <% if f.object.hint.present? %>
    <div class="text-gray-400 text-sm"><%= f.object.hint %></div>
  <% end %>
  <div class="mt-1">
    <% blocks = Spina::Blocks::Block.active.sorted %>
    <%= f.select :block_id,
          blocks.map { |b| [b.name, b.id] },
          {include_blank: t('spina.blocks.select_block')},
          class: "form-select text-sm w-full shadow-xs" %>
  </div>
</div>
